.main {
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-color: #63a73a, #ffffff;
  background-repeat: no-repeat;
  background-position: 0% 100%, left top;
  h1 {
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__slogan {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 299px;
  }
  &__button {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #68b738;
  }
}