.main {
  background-image: url(../img/index-can-mobile@1x.png), url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-color: #64a83b, #fdfdfd;
  h1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
  }
  &__slogan {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #68b738;
  }
}