.method {
  h2 {
    font-size: 36px;
    line-height: 60px;
    color: #111111;
  }
  &__list {
    list-style: none;
    font-size: 14px;
    line-height: 18px;
  }
}

.adv-list {
  &__item-picture {
    background-color: #68b738;
  }
}
