.method {
  h2 {
    font-size: 36px;
    line-height: 60px;
    color: #111111;
  }
  &__list {
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.adv-list {
  &__item-picture {
    background-color: #68b738;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__item-picture {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  &__item-description {
    margin: 0;
    padding: 0;
  }
}
