.product-list {
  h1 {
    font-size: 36px;
    line-height: 60px;
    color: #111111;
    margin-bottom: 35px;
  }
  &__name {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    text-decoration: none;
  }
  &__description {
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__description-row {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    text-decoration: none;  
  }
  &__button-name {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
    text-align: center;
    padding: 13px 0px;
  }
  &__button--more-name {
    color: #444444;
    text-transform: uppercase;
    background-color: #f2f2f2;
    text-decoration-line: none;
    text-align: center;
    padding: 13px 0px;
  }
  &__link {
    text-decoration: none;
  }
  &__item {
    display: flex;
  }
  &item-block {
    display: flex;
    flex-direction: column;
  }
  &__item--more {
    flex-direction: column;
    align-items: center;
  }
}
