@import "main";
@import "programs";
@import "method";
@import "social";
@import "copyright";
@import "product-list";

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}